# EXTENCIONES IGNORADAS
*.ini
*.log

# DIRECTORIOS IGNORADOS
__pycache__/
CTRL_FREC/PROCESS/__pycache__/
TEST_DLG/PROCESS/__pycache__/

#ARCHIVOS IGNORADOS
CTRL_FREC/call_ctrl_process_frec.py
CTRL_FREC/ctrl_process_frec_DLGID.py
CTRL_FREC/error_process_DLGID.py
TEST_DLG/error_process_DLGID.py

